@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #46CC17, #4CA22D, #69DF3E);
}

main {
    background-color: green;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #184707d4;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #243E1B;
    text-align: center;
    text-shadow: 1px 1px 2px #184707d4;
}

h2 {
    color: #9FDE88;
}

p {
    text-align: justify;
}