@charset "UTF-8";

body {
    background-color: rgba(105, 255, 105, 0.812);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    background-color: rgba(120, 124, 124, 0.423);
    color: rgba(6, 67, 6, 0.819);
}

h1#principal {
    background-color: rgba(249, 255, 88, 0.843);
    color: rgb(2, 50, 2);
    font-size: 3em;
    text-align: center;
}

h2 {
    color: rgb(40, 232, 11);
}

.meio {
    text-align: center;
    color: rgb(131, 155, 12)
}

.fim {
    text-align: right;
    color: rgb(255, 0, 0)
}

p {
    text-align: justify;
}

.destaque{
    background-color: rgb(242, 222, 222);
}