@charset "UTF-8";

h1 {
    color: #6D284A;

    text-decoration: underline;
    text-align: center;

    padding: 8px;
    border-radius: 12px;


}

body {
    background-color:#399d2cb6;
}


main {
    background-color: #36563135;
    border-radius: 20px;
    box-shadow: 2px 2px 15px #0c2b01a1;
    padding: 30px;
    margin: auto;
}

h2 {
    background-color: #309a3093;
    border-radius: 20px;
    color: #02341F;
    box-shadow: 2px 2px 15px #0c2a0c88;
    padding: 15px;
}

li {
    color: black;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}

a.whatsapp {
    text-decoration: none;
}

a.whatsapp:hover {
    color: #6D284A;
    text-decoration: underline;
}

a.whatsapp:active {
    color: rgb(0, 0, 0);
}

a.whatsapp::after {
    content:  ' ''w';
}

a.instagram {
    text-decoration: none;
}


a.instagram:hover {
    color: #6D284A;
    text-decoration: underline;
    border-radius: 3px;
}

a.instagram:active {
    color: green;
}

a.instagram::after {
    content:  ' ''i';
}

a.tiktok {
    text-decoration: none;
}

a.tiktok:hover {
    color: #6D284A;
    text-decoration: underline;
}

a.tiktok:active {
    color: yellow;
}

a.tiktok::after {
    content: ' ''t';
}

p.meuslinks {
    color: #6D284A;
    background-color: #6d284a71;
    width: 90px;
    margin: 34px auto 40px auto;
    padding: 23px 24px;
    border-radius: 10px;
    font-size: 2.1em;
    font-family: monospace;
    text-align: center;
}

ul.caixalista {
    background-color: #309a3093;
    width: auto;
    padding: 20px 30px;
    border-radius: 20px;
    text-align: center;
}